#body {
    margin: 0px;
    border-color: black;
    background-color: black;

}

.outer-div {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: relative;
    display: inline-block;
    width: 17%;
    height: 490px;
    border-color: rgba(255, 255, 255, 0.142);
    color: wheat;
    background-color: rgba(255, 255, 255, 0.114);


}

.side-position {
    left: -130px;
}


#front {
    display: block;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.142);
    background-color: rgba(255, 255, 255, 0.085);
    margin: 0px;
    margin-left: 0px;
    color: white;
    height: 490px;
    width: 100%;
}


.search-container {
    display: inline-block;
    position: relative;
    width: 530px;

}

.search-container input {

    display: inline-block;
    margin-top: 5px;
    height: 20px;
    width: 410px;
    background-color: rgba(255, 255, 255, 0.085);
    text-align: start;
    border-style: solid;
    border-color: black;
    margin-left: 110px;
    font-size: 11px;
    border-radius: 15px;
    padding: 3px;
    padding-left: 25px;
    color: whitesmoke;
    outline: none;

}

.fa-microphone {
    position: absolute;
    right: 50px;
    top: 15px;
    color: rgba(255, 255, 255, 0.844);
    cursor: pointer;
    margin-left: 600px;
    font-size: 11px;
    text-align: end;
}

.camera {
    position: absolute;
    right: 30px;
    top: 15px;
    color: rgba(255, 255, 255, 0.652);
    cursor: pointer;
    margin-left: 600px;
    font-size: 11px;
    text-align: end;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 15px;
    color: rgba(255, 255, 255, 0.652);
    cursor: pointer;
    margin-left: 600px;
    font-size: 11px;
    text-align: end;
}

.mic:hover {
    color: orange;
}

.login {
    margin-left: 120px;

    width: 130px;
    display: inline-block;
    text-align: start;
}

.Pricing {
    display: inline-block;
    margin-right: 10px;
    font-size: x-small;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(255, 166, 0, 0.721);
}

.sign {
    background-color: black;
    color: rgba(255, 255, 255, 0.805);
    border-color: rgba(240, 248, 255, 0.212);
    border-width: 0.1px;
    font-size: x-small;
    padding: 5px;
    border-radius: 4px;
}

.Pricing:hover {
    color: orange;

}

.sign:hover {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.321);

}

.nav-bar {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    height: 20px;
    justify-content: space-between;

}

.line {
    font-size: 11px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.763);
}

.line:hover {
    color: white;
}

.sparkle {
    font-size: 11px;
    margin-top: 3px;
    color: rgba(255, 255, 255, 0.763);
}

.sparkle:hover {
    color: white;
}

.free {
    color: white;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.side-bar {
    bottom: 20%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    width: 150px;
}

/* .fa-bars:active {
    color: green;
    opacity: 1;
} */
.active {
    background-color: aqua;
    left: -200px;
}

.side-i {
    margin-top: 15px;
    margin-bottom: 15px;

}

.side-i a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-size: 10px;

}

.side-i div {
    width: 170px;
    margin-bottom: 6px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-i div:hover {
    background-color: rgba(255, 255, 255, 0.085);
}

.fa-home {
    margin-right: 5px;
}

.fa-globe {
    margin-right: 9px;
}

.fa-cubes-stacked {
    margin-right: 9px;
}

.pin {
    font-family: sans-serif;
    font-size: 9px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.605);
}

.side-middle a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-size: 10px;

}

.side-middle div {
    width: 170px;
    margin-bottom: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-middle div:hover {
    background-color: rgba(255, 255, 255, 0.085);
    cursor: pointer;
}

.side-middle div a i {
    margin-right: 10px;
}

.box-footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.089);
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 8px;
    border-radius: 5px;
}

.box-footer div {
    font-size: 12px;

}

.box-footer div a {
    margin-top: 4px;
    margin-left: 10px;
    color: rgba(255, 166, 0, 0.879);
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-footer .get {
    margin-left: 10px;
    font-size: 10px;
    color: white;
    margin-bottom: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
    color: white;
    bottom: 5px;
    margin-top: 130px;

}

.footer i {
    font-size: 11px;
    margin-right: 10px;
    margin-left: 9px;
}

.footer .fa-ellipsis {
    margin-left: 52px;
    color: white;
    font-size: 13px;
}

.images {
    display: inline-block;
}

.mangoes {
    margin-top: 20px;
    font-size: 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 3px;
    font-weight: 500;

}

div .p {
    font-size: 10px;
    margin-left: 3px;
    margin-top: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.623);
}

#box-tools {
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: space-between;
    margin-top: 7px;
    margin-left: 5px;
}

.boxes {
    display: flex;
    flex-direction: row;
    height: 12px;
    width: 85px;
    background-color: rgba(255, 255, 255, 0.095);
    font-size: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-evenly;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.192);
    border-width: 1px;
    color: rgba(255, 255, 255, 0.842);

}

.boxes:hover {
    background-color: rgba(255, 255, 255, 0.167);
    cursor: pointer;
}

.fa-angle-down {
    margin-top: 3px;
}